{% extends 'base.html' %}

{% block content %}
    <div class="container py-4">
    <h2>{{ movie.title }}</h2>
    <small>{{ movie.released.year }} - {{ movie.genre }} - {{ movie.rating }}/10 <i class="fa fa-star"></i></small>
    <p><b>Released: </b>{{ movie.released|date:"d E y" }}</p>
    <hr>
    <p>{{ movie.description }}</p>
    <small>Description length: {{ movie.description|length }}</small>
    <hr>
    <a href="{% url "update_movie" movie.id %}" class="btn btn-primary">Update</a>
    <a href="{% url "delete_movie" movie.id %}" class="btn btn-danger">Delete</a>
    </div>
{% endblock %}
# TODO Napisać ...
